<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body style="background-color:darkblue;">
<div class="content">

<h1><a style = color:orange href="/">Arizona Endangered Animals</a></h1>
<h3><a style = color:orange href="/">Return Home</a></h3>
    <p style = color:red>
    Name : <%= results["speciesname"] %> <br>
    Class : <%= results["class"] %> <br>
    Family : <%= results["family"] %> <br>
    City : <%= results["city"] %> <br>
    County : <%= results["county"] %> <br>
    Habitat : <%= results["habitat"] %> <br>
    Weather : <%= results["weather"] %> <br>
    Size : <%= results["size"] %> <br>
    Color : <%= results["color"] %> <br>
    Weight : <%= results["weight"] %> <br>
    Lifespan : <%= results["lifespan"] %> <br>
    Endangered Level : <%= endangered %> <br>
    Population : <%= results["population"] %> <br>
    Date of Endangered : <%= results["dateofendager"] %> <br>
    Eats : <br>
    <% for(let i = 0; i < eat.length; i++) { %>
    <p style=color:yellow>  <%= eat[i] %> </p>
    <% } %>
    <p style=color:red>Eaten by : </p>
    <% for(let i = 0; i < eaten.length; i++) { %>
    <p style=color:yellow> <%= eaten[i] %> </p>

    <% } %>
</p>
</div>
</body>
</html>